/*Global color scheme

main - #23719f
texts - #3f3f3f

*/

body {
  color: #3f3f3f;
}

#root {
  background: #23719f;
}

#root > div {
  background: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  border-radius: 5px;
  color: white;
  padding: .5rem;
  background: #23719f;
  cursor: pointer;
  border: none;
}

.global_button {
  min-width: 200px;
  font-size: 22px;
}

.add_card_button {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.centered {
  display: block;
  margin: 0 auto;
}